.button-wrapper {
  /* width: 362px; */
  /* height: 40px; */
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 0;
}
.Buttons-primary {
  /* width: 204px; */
  /* height: 40px; */
  flex-grow: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 32px;
  border-radius: 36px;
  background-color: #2b2b2b;
}
.Primary {
  width: 140px;
  height: 16px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.25px;
  text-align: center;
  color: #fff;
}
.Buttons-secondary {
  flex-grow: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 32px;
  border-radius: 36px;
  border: solid 1px #533afd;
  background-color: #fff;
}
.Secondary {
  width: 62px;
  height: 16px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.25px;
  text-align: center;
  color: #533afd;
}
.Placeholder {
  width: 100%;
  max-width: 628px;
  min-height: 401px;
  aspect-ratio: 628 / 401;
  flex-grow: 0;
  flex-shrink: 1;
  border-radius: 16px;
  background-color: #d9d9d9;
}

/* section 9 */
.Section-9 {
  width: 100%;
  max-width: 1280px;
  height: 641px;
  margin: 0 auto;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
  padding: 120px 64px;
  box-sizing: border-box;
  background-color: rgba(246, 249, 252, 0.25);
}
.Content-9 {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.Developers {
  height: 16px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.25px;
  text-align: left;
  color: #533afd;
}

.Start-building-with-trust-in-place {
  height: 96px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Inter;
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.25px;
  text-align: left;
  color: #0a0a0a;
  padding: 24px 0px;
}
.Start-building-with-trust-in-place .text-style-1 {
  color: #7e858b;
}
.Create-an-account-get-your-keys-and-integrate-MudraID-into-your-agent-runtime-or-your-verification {
  height: 48px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.25px;
  text-align: left;
  color: #0a0a0a;
  padding-bottom: 48px;
}

/* section 10 */
.Section-10 {
  width: 100%;
  max-width: 1280px;
  height: 641px;
  margin: 0 auto;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
  padding: 120px 64px;
  box-sizing: border-box;
  background-color: rgba(246, 249, 252, 0.25);
}
.Content-10 {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.Build-for-a-future-where-agents-and-websites-interact-securely-at-scale {
  height: 240px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Inter;
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.25px;
  text-align: left;
  color: #0a0a0a;
}
.Build-for-a-future-where-agents-and-websites-interact-securely-at-scale .text-style-1 {
  color: #7e858b;
}

.Explore-the-system-Review-the-model-Create-an-account-when-youre-ready {
  height: 48px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.25px;
  text-align: left;
  color: #0a0a0a;
  padding-top: 24px;
  padding-bottom: 48px;
}